In [1]:
import pandas as pd
import glob

In [2]:
all_dfs = []

In [3]:
for file in glob.glob('/Users/karanthapa/Desktop/temperatures/*.csv'):  # glob.glob('folderpath/*.csv')  ## finds all the csv files in the temperature folder
    new_df = pd.read_csv(file)  # read each csv files into the dataframe
    all_dfs.append(new_df)  # add each dataframe to the all_dfs list

In [4]:
dataset = pd.concat(all_dfs, ignore_index=True)  # combines all the csv files by removing the repated columns name 
dataset.head(3)

,STATION_NAME,STN_ID,LAT,LON,January,February,March,April,May,June,July,August,September,October,November,December
0,ADELAIDE-KENT-TOWN,23090,-34.92,138.62,30.04,29.68,26.92,24.07,19.83,16.63,16.20,17.31,20.01,22.73,25.54,27.97
1,ALBANY-AIRPORT-COMPARISON,9741,-34.94,117.80,25.55,26.91,26.09,24.41,20.68,18.74,17.22,17.82,19.45,20.41,22.36,24.48
2,ALICE-SPRINGS-AIRPORT,15590,-23.80,133.89,39.04,38.58,35.31,30.35,25.28,21.89,21.45,25.95,32.31,34.02,36.62,38.15

In [5]:
range_dataset = dataset.copy()           # creating copy of original dataset to store range value
std_dataset = dataset.copy()             # creating copy of original dataset to store standard deviation value

In [ ]:
# Seasonal Average

<!-- seasonal average -->

In [6]:
Summer = dataset[['December', 'January', 'February']].mean().mean()
print('Summer:',round(Summer,1),'°C')

Summer: 32.1 °C

In [7]:
Autumn = dataset[['March', 'April', 'May']].mean().mean()
print('Autumn:',round(Autumn,1),'°C')

Autumn: 27.3 °C

In [8]:
Winter = dataset[['June', 'July', 'August']].mean().mean()
print('Winter:',round(Winter,1),'°C')

Winter: 21.1 °C

In [9]:
Spring = dataset[['September', 'October', 'November']].mean().mean()
print('Spring:',round(Spring,1),'°C')

Spring: 27.4 °C

In [10]:
average_temp = (
    f"Summer: {round(Summer,1)}°C  "
    f"Autumn: {round(Autumn,1)}°C  "
    f"Winter: {round(Winter,1)}°C  "
    f"Spring: {round(Spring,1)}°C"
)

In [11]:
with open('/Users/karanthapa/Desktop/average_temp.txt', 'w') as f:      #with open('/filepath/average_temp.txt', 'w') as f:
    f.write(average_temp)

In [12]:
# Temperature Range

In [13]:
range_dataset.iloc[:, 4:].head(3)  # select all the row but only the columns starting from the indexing 4 onwards

,January,February,March,April,May,June,July,August,September,October,November,December
0,30.04,29.68,26.92,24.07,19.83,16.63,16.20,17.31,20.01,22.73,25.54,27.97
1,25.55,26.91,26.09,24.41,20.68,18.74,17.22,17.82,19.45,20.41,22.36,24.48
2,39.04,38.58,35.31,30.35,25.28,21.89,21.45,25.95,32.31,34.02,36.62,38.15

In [14]:
max_value = range_dataset.iloc[:, 4:].max(axis=1)    # when axis = 1, finds the max value row wise
min_value = range_dataset.iloc[:, 4:].min(axis=1)
range = max_value - min_value
range_dataset['Range'] = range   # add Range columns in range_dataset

In [15]:
range_dataset[range_dataset['Range']== range_dataset['Range'].max()]   # finds the max range value from Range column

,STATION_NAME,STN_ID,LAT,LON,January,February,March,April,May,June,July,August,September,October,November,December,Range
661,WAGGA-WAGGA-AMO,72150,-35.16,147.46,36.55,35.31,32.61,27.15,21.43,16.45,15.48,17.61,21.66,26.02,30.36,34.66,21.07

In [16]:
months = range_dataset.iloc[:, 4:-1].columns
months

Index(['January', 'February', 'March', 'April', 'May', 'June', 'July',
       'August', 'September', 'October', 'November', 'December'],
      dtype='object')

In [17]:
station_name = range_dataset.iloc[661]['STATION_NAME']   # acccess the 'STATION_NAME' from 661 row
range_value = range_dataset.iloc[661]['Range']
max_temp = range_dataset.iloc[661][months].max()
min_temp = range_dataset.iloc[661][months].min()

In [18]:
largest_temp_range_station = f"Station {station_name}: Range {round(range_value,1)}°C (Max: {round(max_temp,1)}°C, Min: {round(min_temp,1)}°C)"   # rounds returns the value upto 1 decimal point
print(largest_temp_range_station)

Station WAGGA-WAGGA-AMO: Range 21.1°C (Max: 36.6°C, Min: 15.5°C)

In [19]:
with open('/Users/karanthapa/Desktop/largest_temp_range_station.txt', 'w') as f:    # open / create a text file in write mode
    f.write(largest_temp_range_station)   # writes the string in 'largest_temp_range_station' into the file

In [20]:
#Temperature Stability

In [21]:
std_dataset['Standard_Deviation'] = std_dataset.iloc[:, 4:].std(axis=1) 
std_dataset

,STATION_NAME,STN_ID,LAT,LON,January,February,March,April,May,June,July,August,September,October,November,December,Standard_Deviation
0,ADELAIDE-KENT-TOWN,23090,-34.92,138.62,30.04,29.68,26.92,24.07,19.83,16.63,16.20,17.31,20.01,22.73,25.54,27.97,5.045526
1,ALBANY-AIRPORT-COMPARISON,9741,-34.94,117.80,25.55,26.91,26.09,24.41,20.68,18.74,17.22,17.82,19.45,20.41,22.36,24.48,3.401163
2,ALICE-SPRINGS-AIRPORT,15590,-23.80,133.89,39.04,38.58,35.31,30.35,25.28,21.89,21.45,25.95,32.31,34.02,36.62,38.15,6.487963
3,AMBERLEY-AMO,40004,-27.63,152.71,33.02,32.16,30.93,28.58,25.72,23.15,23.36,24.21,28.36,30.11,31.05,32.01,3.596841
4,BARCALDINE-POST-OFFICE,36007,-23.55,145.29,38.00,37.34,36.28,32.77,29.16,26.36,26.03,27.18,30.87,34.11,35.83,37.92,4.597277
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,WILSONS-PROMONTORY-LIGHTHOUSE,85096,-39.13,146.42,22.18,22.46,20.36,18.60,16.31,14.50,13.62,13.74,15.43,16.98,18.52,19.53,3.086685
2236,WITTENOOM,5026,-22.24,118.34,40.62,38.80,37.92,34.67,29.55,25.81,25.35,28.10,32.66,37.11,39.72,40.41,5.751272
2237,WOOMERA-AERODROME,16001,-31.16,136.81,38.97,38.38,35.41,30.56,25.61,20.93,20.57,22.59,27.18,30.38,35.16,37.36,6.833927
2238,WYALONG-POST-OFFICE,73054,-33.93,147.24,36.34,34.23,31.20,27.04,21.44,16.50,15.68,17.48,21.65,26.15,31.63,34.10,7.440586
2239,YAMBA-PILOT-STATION,58012,-29.43,153.36,28.20,28.34,27.59,26.25,23.66,21.83,20.97,22.12,23.80,25.11,26.15,27.19,2.584828

In [22]:
std_dataset[std_dataset['Standard_Deviation'] == std_dataset['Standard_Deviation'].max()]

,STATION_NAME,STN_ID,LAT,LON,January,February,March,April,May,June,July,August,September,October,November,December,Standard_Deviation
661,WAGGA-WAGGA-AMO,72150,-35.16,147.46,36.55,35.31,32.61,27.15,21.43,16.45,15.48,17.61,21.66,26.02,30.36,34.66,7.675713

In [23]:
vstation_name = std_dataset.iloc[661]['STATION_NAME']
vstd = std_dataset.iloc[661]['Standard_Deviation']
most_variable = f"Most Variable: {vstation_name}: StdDev {round(vstd,1)}°C"
print(most_variable)

Most Variable: WAGGA-WAGGA-AMO: StdDev 7.7°C

In [24]:
std_dataset[std_dataset['Standard_Deviation'] == std_dataset['Standard_Deviation'].min()]

,STATION_NAME,STN_ID,LAT,LON,January,February,March,April,May,June,July,August,September,October,November,December,Standard_Deviation
2160,DARWIN-AIRPORT,14015,-12.42,130.89,34.33,34.09,34.42,35.67,35.46,34.27,34.33,34.79,35.57,36.03,35.91,35.19,0.710282

In [25]:
sstation_name = std_dataset.iloc[2160]['STATION_NAME']
sstd = std_dataset.iloc[2160]['Standard_Deviation']
most_stable = f"Most Stable: {sstation_name}: StdDev {round(sstd,1)}°C"
print(most_stable)

Most Stable: DARWIN-AIRPORT: StdDev 0.7°C

In [26]:
with open('/Users/karanthapa/Desktop/temperature_stability_stations.txt', 'w') as f:     
    f.write(f"{most_stable}\n{most_variable}")